{%- assign mp_lang = page.lang | default: 'en' -%}
{%- assign mp = site.data.ui[mp_lang] -%}
{%- if site.soundcloud_url -%}
<section class="music-card" data-music data-title="{{ mp.music_player_title }}" data-src="https://w.soundcloud.com/player/?url={{ site.soundcloud_url | url_encode }}&amp;color=%23de3b52&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_reposts=false&amp;show_teaser=false&amp;visual=false">
  <div class="music-copy"><span class="eyebrow">{{ mp.music_eyebrow }}</span><strong>{{ mp.music_title }}</strong><p>{{ mp.music_note }}</p></div>
  <div class="music-actions">
    <button type="button" class="music-load">{{ mp.music_load }}</button>
    <a class="match-link" href="{{ site.soundcloud_url }}" target="_blank" rel="me noopener noreferrer">{{ mp.music_open }}</a>
  </div>
</section>
{%- endif -%}
