<header class="site-header">
  <div class="wrap">
    <h1 class="site-title">Morui / Moruika (Kirill Vinogradov)</h1>
    <p class="site-tagline">Creator, Dota 2 Captain, Developer</p>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="is-active"{% endif %}>Info</a>
      <a href="{{ '/team/' | relative_url }}" {% if page.url == '/team/' %}class="is-active"{% endif %}>Team</a>
      <a href="{{ '/projects/' | relative_url }}" {% if page.url == '/projects/' %}class="is-active"{% endif %}>Projects</a>
      <a href="{{ '/blog/' | relative_url }}" {% if page.url == '/blog/' %}class="is-active"{% endif %}>Blog</a>
    </nav>
  </div>
</header>
