<!DOCTYPE html>
<html lang="ru">
<head>
  <meta name="google-site-verification" content="YscCNaqzRwdV8Bz940R85SD_68N8s-3zpKXJeWhJFGA" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include nav.html %}
  <main class="wrap">
    {{ content }}
  </main>
  <footer class="site-footer wrap">
    <span>Morui © {{ 'now' | date: '%Y' }}</span>
    <span>
      <a href="https://stratz.com/players/860495275" target="_blank" rel="noopener">STRATZ Profile</a> ·
      <a href="https://llinktr.ee/moruika" target="_blank" rel="noopener">Other Links</a>
    </span>
  </footer>
</body>
</html>
